.pill {
  box-shadow: none;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  border-radius: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: 1px solid #6C63FF;
  background-color: transparent;
  color: #6C63FF;

  &Active {
    color: #FFF;
    background-color: #6C63FF;
  }

  &Checkbox {
    display: none;
  }
}
