.classic {

  &Paper {
    background-color: white;
    width: 595px;
    height: 842px;
    scale: 0.8;
    padding: 2rem;
  }

  &Name {
    font-size: 22px;
    margin: 0;
    margin-top: 1rem;
  }

  &HeaderSection {
    text-align: center;

    &Contact {
      font-size: 0.6rem;
      display: flex;
      grid-gap: 1rem;
      align-content: center;
      align-items: center;
      justify-content: center;

      &Item {
        display: flex;
        align-items: center;
        grid-gap: 0.25rem;
      }
    }

    &Social {
      display: flex;
      justify-content: center;
      grid-gap: 0.5rem;
      margin-top: 0.6rem;
    }
  }

  &JobTitle {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
    font-weight: 500;
    color: #6C63FF;
  }

  &Separator {
    margin: 2.4rem 0 1rem;
    border: 1px solid #DADADA;
  }

  &Section {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.7rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.25rem;
    position:relative;  
    &:before {
      position: absolute;
      content: '●';
      margin-left: -1rem;
      color: #DADADA;
    }
    &Layout {
      display: grid;
      grid-template-columns: 7rem 1fr;
      grid-gap: 2rem;
    }
  }


  &SectionList {
    margin: 0;
    padding-left: 2rem;
    border-left: 1px solid #DADADA;
  }

  &SectionTitle {
    font-size: 1rem;
    margin: 1.8rem 0 0.8rem;
    & span {
      margin-left:-0.25rem;
      margin-right: 0.75rem;
    }
    &Center {
      font-size: 1rem;
      text-align: center;
      margin: 1.8rem 0 0.8rem;
    }
  }

  &SectionName {
    font-size: 0.9rem;
  }

  &SectionDate {
    font-size: 0.6rem;
    color: #7A7575;
    display: flex;
    align-items: center;
  }

  &SectionLink {
    color: #6C63FF;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    grid-gap: 0.25rem;
    margin-left: 0.4rem;
  }

  &SectionDesc {
    padding-top: 0.25rem;
    font-size: 0.6rem;
  }


  &SkillGroup {

  }

  &SkillName {
    font-size: 0.8rem;
    font-weight: 600;
    color: #808080;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  &SkillList {
    text-align: center;
    margin: 0;
    padding-inline-start: 0;
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 0.3rem;
  }

}
