.iconButton {
  border: none;
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

// .buttonSecondary {
//   background-color: #6C63FF;
//   color: white;
//   border: none;
//   box-shadow: none;
//   font-size: 1.2rem;
//   padding: 1rem 2rem;
//   border-radius: 0.2rem;
//   font-weight: 600;
//   text-decoration: none;
//   display: inline-block;
// }
